/* General Styling */

:root {
    --primaryTextColor: #929aab;
    --secondaryTextColor: #eeeeee;
  }
  
  body {
    background-color: #f7f7f7;
    color: var(--primaryTextColor);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: var(--primaryTextColor);
    text-decoration: none;
  }
  
  li a:hover {
    border: 1px solid darkgrey;
    border-radius: 5px;
    color: var(--primaryTextColor);
    padding: 10px;
  }

  /* Navigation Bar Styling*/

.navBarContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid darkgrey;
  }
  
  .navBarContainer button{
    background-color: dodgerblue;
    border: 1px;
    border-radius: 10px;
    color: var(--secondaryTextColor);
    padding: 10px;
  }
  
  .navBarContainer button:hover{
    background-color: skyblue;
    cursor: pointer;
  }
  
  .navBar ul li {
    display: inline-block;
    padding: 0 20px;
  }

  h1:hover{
    cursor: pointer;
  }

  /* Main Content Styling */

  .mainContainer{
    display: flex;
    flex-direction: column;
  }

  .mainContainer div{
    display: flex;
    width: 90vw;
    height: 900px;
    justify-content: center;
    align-items: center; 
  }

  #mainTag{
    font-size: 72px;
    font-weight: normal;
    padding: 10px;
  }

  #secondTag{
    font-size: 48px;
    font-weight: normal;
    padding-left: 80px;
  }

  #thirdTag{
      font-size: 32px;
      font-weight: normal;
      padding-left: 200px;
  }

  .mainContainer dd{
    font-size: 24px;
    font-weight: normal;
    padding-left: 250px;
  }

  #tresList{
    list-style-type: disc;
  }